$todo-color: #24b791;
$check-icon-color: #fff;
$checked-card-bg: #f4f4f4;

.task-card {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
        opacity: 0;
        height: 0;
        width: 0;
    }
    &__btns {
        display: flex;
        align-self: flex-start;
    }
    &__info {
        width: calc(100% - 35px);
        padding-left: 10px;
        word-break: break-all;
        p {
            margin-top: 10px;
        }
    }
    &__check {
        cursor: pointer;
        display: block;
        width: 18px;
        height: 18px;
        border: 2.5px solid $todo-color;
        border-radius: 4px;
    }
    &__delete {
        position: absolute;
        right: 10px;
        cursor: pointer;
        margin-left: 5px;
        width: 23px;
        height: 23px;
        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 2px;
            height: 20px;
            background: rgb(215 38 38 / 80%);
            top: 2px;
            left: 10px;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}

[data-done-task="true"] {
    .task-card {
        position: relative;
        background: $checked-card-bg;
        &__info {
            width: calc(100% - 65px);
            opacity: .5;
        }
    }
    input + .task-card__check {
        background: $todo-color;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: 5px;
            width: 5px;
            height: 12px;
            border: solid $check-icon-color;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
}