* {
    margin: 0;
    padding: 0;
}

.task-page  {
    max-width: 450px;
    margin: 0 auto;
}

button, 
input, 
.my-style {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    cursor: pointer;
}

.my-style {
    margin-bottom: 10px;
}

.my-list{
    display: flex;
    flex-direction: column;
}